<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>家計簿</title>
        <meta name="viewport" content="width=device-width,intial-scale=1">
        <style>
            body { font-family: sans-serif; padding: 20px;}
            table { width: 100%; border-collapse: collapse; margin-bottom: 20px;}
            th,td {border: 1px solid #ccc; padding: 8px; text-align: center;}
            input { width: 100%; padding: 6px; box-sizing: border-box;}
            button {padding: 6px 12px;}
            .tab {display:none;}
            #day {display:block;}
        </style>
    </head>
    <body>
        <h2>家計簿</h2>
        <form method="POST">
            <table>
                <tr>
                    <th>日付</th>
                    <th>内容</th>
                    <th>カテゴリ</th>
                    <th>金額</th>
                    <th>追加</th>
                </tr>
                <tr>
                    <td><input type="date" name="date" required></td>
                    <td><input type="text" name="item" required></td>
                    <td><input type="text" name="category" required></td>
                    <td><input type="number" name="amount" required></td>
                    <td><button type="submit">追加</button></td>
                </tr>
            </table>
        </form>

        <h3>一覧</h3>
        
        <table>
            <tr>
                <th>日付</th>
                <th>内容</th>
                <th>カテゴリ</th>
                <th>金額</th>
                <th>削除</th>
            </tr>

            {% for e in expenses %}
            <tr>
                <td>{{e[1]}}</td>
                <td>{{e[2]}}</td>
                <td>{{e[3]}}</td>
                <td style="text-align:right;">{{e[4]}}</td>
                <td>
                    <form method="POST" style="margin: 0;">
                        <button type="submit" name="delete" value="{{e[0]}}">
                            削除
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>

        <h3>合計: {{total}}</h3>

        <h3>カテゴリ別合計</h3>

        <ul>
            {% for c in category_totals %}
            <li>{{ c[0] }} : {{c[1]}} 円</li>
            {% endfor %}
        </ul>

        <button onclick="showTab('day')">日計</button>
        <button onclick="showTab('month')">月計</button>
        <button onclick="showTab('year')">年計</button>

        <div id="day" class="tab">
            <h2>日計</h2>
            {% for d in day_data %}
                {{d[0]}}:{{d[1]}}<br>
            {% endfor %}
        </div>

        <div id="month" class="tab">
            <h2>月計</h2>
            {% for m in month_data %}
                {{m[0]}}:{{m[1]}}<br>
            {% endfor %}
        </div>

        <div id="year" class="tab">
            <h2>年計</h2>
            {% for y in year_data %}
                {{y[0]}}:{{y[1]}}<br>
            {% endfor %}
        </div>

        <script>
            function showTab(tabName) {
                document.querySelectorAll('.tab').forEach(tab =>{
                    tab.style.display="none";
                });
                document.getElementById(tabName).style.display="block";
            }
        </script>
    </body>

</html>